In [51]:
import numpy as np
import pandas as pd
from scipy.stats import wilcoxon

In [52]:
def fun(col_name='me_f100_maf0.2_cens0.1'):
    temp_df = df[[col_name, 'times']]
    temp_df = temp_df.dropna()
    try:
        val = np.trapz(temp_df[col_name], temp_df['times']) / (list(temp_df['times'])[-1] - list(temp_df['times'])[0])
    except Exception as e:
#         print(col_name, e)
        val = np.nan
    return val

In [53]:
df = pd.read_csv('pipeline/ibs_data_all.csv')

In [54]:
ibs_df = pd.DataFrame(columns=['Dataset', 'IBS'])
for col in df.columns:
    if 'ci' not in col:
        val = fun(col)
        ibs_df = pd.concat([pd.DataFrame([[col,val]], columns=ibs_df.columns), ibs_df], ignore_index=True)
ibs_df = ibs_df.drop(ibs_df.tail(1).index)
ibs_df = ibs_df.reindex(index=ibs_df.index[::-1]).reset_index(drop=True)

In [55]:
models = ['add', 'het', 'epi', 'me']
nfeats = ['f100', 'f1000', 'f10000']
mafs = ['maf0.2', 'maf0.4']
censs = ['cens0.1', 'cens0.4', 'cens0.8']

In [56]:
ibs_df[['model', 'nfeat', 'maf', 'cens']] = pd.DataFrame(list(ibs_df['Dataset'].str.split('_')))

In [57]:
models_wx = pd.DataFrame(columns=['model 1', 'model 2',  'Stat', 'p-val'])
for i in models:
    for j in models:
        if i != j:
            x = ibs_df[ibs_df['model']==i]['IBS']
            y = ibs_df[ibs_df['model']==j]['IBS']
            res = wilcoxon(x, y)
            stat, pval = res.statistic, res.pvalue
        else:
            stat, pval = np.nan, np.nan
        models_wx = pd.concat([pd.DataFrame([[i, j, stat, pval]], columns=models_wx.columns), models_wx], ignore_index=True)
models_wx_ct = pd.crosstab(models_wx['model 1'], models_wx['model 2'], models_wx['p-val'], aggfunc='mean' )
models_wx_ct

model 2       add       epi       het        me
model 1
add           NaN  0.733727  0.048279  0.012032
epi      0.733727       NaN  0.264526  0.048279
het      0.048279  0.264526       NaN  0.369217
me       0.012032  0.048279  0.369217       NaN

In [58]:
nfeats_wx = pd.DataFrame(columns=['nfeat 1', 'nfeat 2',  'Stat', 'p-val'])
for i in nfeats:
    for j in nfeats:
        if i != j:
            x = ibs_df[ibs_df['nfeat']==i]['IBS']
            y = ibs_df[ibs_df['nfeat']==j]['IBS']
            res = wilcoxon(x, y)
            stat, pval = res.statistic, res.pvalue
        else:
            stat, pval = np.nan, np.nan
        nfeats_wx = pd.concat([pd.DataFrame([[i, j, stat, pval]], columns=nfeats_wx.columns), nfeats_wx], ignore_index=True)
nfeats_wx_ct = pd.crosstab(nfeats_wx['nfeat 1'], nfeats_wx['nfeat 2'], nfeats_wx['p-val'], aggfunc='mean' )
nfeats_wx_ct

nfeat 2      f100     f1000    f10000
nfeat 1
f100          NaN  0.473166  0.988813
f1000    0.473166       NaN  0.704756
f10000   0.988813  0.704756       NaN

In [59]:
mafs_wx = pd.DataFrame(columns=['maf 1', 'maf 2',  'Stat', 'p-val'])
for i in mafs:
    for j in mafs:
        if i != j:
            x = ibs_df[ibs_df['maf']==i]['IBS']
            y = ibs_df[ibs_df['maf']==j]['IBS']
            res = wilcoxon(x, y)
            stat, pval = res.statistic, res.pvalue
        else:
            stat, pval = np.nan, np.nan
        mafs_wx = pd.concat([pd.DataFrame([[i, j, stat, pval]], columns=mafs_wx.columns), mafs_wx], ignore_index=True)
mafs_wx_ct = pd.crosstab(mafs_wx['maf 1'], mafs_wx['maf 2'], mafs_wx['p-val'], aggfunc='mean' )
mafs_wx_ct

maf 2     maf0.2    maf0.4
maf 1
maf0.2       NaN  0.981432
maf0.4  0.981432       NaN

In [61]:
censs

['0.1', '0.4', '0.8']

In [62]:
censs_wx = pd.DataFrame(columns=['cens 1', 'cens 2',  'Stat', 'p-val'])
for i in censs:
    for j in censs:
        if i != j:
            x = ibs_df[ibs_df['cens']==i]['IBS']
            y = ibs_df[ibs_df['cens']==j]['IBS']
            res = wilcoxon(x, y)
            stat, pval = res.statistic, res.pvalue
        else:
            stat, pval = np.nan, np.nan
        censs_wx = pd.concat([pd.DataFrame([[i, j, stat, pval]], columns=censs_wx.columns), censs_wx], ignore_index=True)
censs_wx_ct = pd.crosstab(censs_wx['cens 1'], censs_wx['cens 2'], censs_wx['p-val'], aggfunc='mean' )
censs_wx_ct

Empty DataFrame
Columns: []
Index: []